@import "tailwindcss";


:root {
  --bg-color: #F9FAFB;
  --text-color: #000000;
}

html.dark {
  --bg-color: #101828;
  --text-color: #ffffff;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
